<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')%>
<body>
    <%- include('partials/navbar')%>
    
    <main>
                <section><h1><%= notas%></h1>
    
            <ul>
                <% notas.forEach((nota)=>{%>
                    <%- include('partials/nota', {content: nota.content})%>
                <%});%>
            </ul>
        </section>
    </main>
    <h1><%= notas%></h1>
    
        <ul>
            <% notas.forEach((nota)=>{%>
                <%- include('partials/nota', {content: nota.content})%>
            <%});%>
        </ul>
    <%- include('partials/footer')%>

    <!-- Enlaza el archivo JS de Bootstrap (incluye jQuery y Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>