<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')%>
<body>
    <%- include('partials/navbar')%>
    
    <main>
        <section class="">
            <div class="container">
                <h1>Posts</h1>
                <% posts.forEach((post) => { %>
                    <div class="card">
                        <div class="row">
                          <div class="col-md-9">
                            
                              <h3 class="card-title"><%= post.title %>:</h3>
                              <h3 class="card-text"><%= post.content %></h3>
                              <p class="card-text">Fecha de creación: <%= post.createdAt.toDateString() %></p>
                            
                          </div>
                          <div class="col-md-3">
                            <img src="<%= post.imageLink %>" class="img-fluid" alt="Imagen del post">
                          </div>
                        </div>
                      </div>
                <% }); %>
            </div>        
        </section>
    </main>
    <%- include('partials/footer')%>

    <!-- Enlaza el archivo JS de Bootstrap (incluye jQuery y Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>